[defaults]
roles_path = ./roles
inventory = ./inventories/hosts.ini
host_key_checking = False

[role_config_netplan_ipv6]
tasks = ./roles/config_netplan_ipv6/tasks/main.yml

[role_conf_dhcpv6+rad]
tasks = ./roles/conf_dhcpv6+rad/tasks/main.yml
