# dhcpd6.conf generado por Ansible

default-lease-time 600;
max-lease-time 7200;

log-facility local7;

subnet6 {{ ipv6_prefix }} {
  range6 {{ dhcpv6_range_start }} {{ dhcpv6_range_end }};
  option dhcp6.name-servers {{ dhcpv6_dns }};
}
